<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4"
        lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>SpringYard - Customers</title>
</head>
<body>
    <div>

    </div>
    <h1>List of Customers</h1>
    <h3><a href="/customer">Add a new customer</a></h3>
    <table>
        <tr>
            <th>ID</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}"></td>
            <td th:text="${customer.firstName}"></td>
            <td th:text="${customer.lastName}"></td>
            <td th:text="${customer.phone}"></td>
            <td th:text="${customer.email}"></td>
        </tr>
    </table>
</body>
</html>